<div class="container">
  
  <div *ngIf="wishes.length === 0; else showItems">
    There are not wishes to display.
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of wishes; index as ii">
        <div class="form-check">
          <label class="form-check-label">
            <input 
              class="checkbox" 
              type="checkbox" 
              [checked]="item.isComplete" 
              [attr.data-index]="ii"
              (click)="toggleWishitemCompletion(item)"
            > {{ item.text }}, {{ ii }}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

</div>